<div class="movies">
<table id = "maintable" class="sortable table-hover table-bordered">
  <thead>
  <tr>
    <td>Name</td>
    <td>Release Date</td>
    <td>Genre</td>
  </tr>
  </thead>
 <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.values[0], 'movies/' + movie.values[0].to_s.parameterize %></td>
      <td><%= movie.values[2] %></td>
      <td><%= movie.values[1] %></td>
    </tr>
<% end %>
</table>
</div>
<p id="error"></p>